.bg-color{
	background-color: #f0f0f0;
}

.genislik {
	max-width: 560px;
  }
  
  .field-wrapper {
	position:relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 140px;
	height: 140px;
	border: 1px solid #000;
	box-sizing: border-box; /* sınır kutusunu dahil et */
	padding: 0;
	margin: 0;
  }
  .field-wrapper img {
	width: 100%; /* genişlik 100% olarak ayarlanır */
	height: 100%;
	object-fit: cover;
  }
  .field-wrapper img:hover {
	width:145px;
	height:145px;
	object-fit:cover;
	z-index: 1000;
	border:1px solid #000
  }
  .selected {
	width: 210px;
	height: 210px;
	object-fit: cover;
	z-index: 1000;
	border: 1px solid #000;
  }


  .form-bg{
	background-color: #9cb4ff;
  }
  

  
/* Signin Form */

.deneme {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.deneme1 {
	border-radius: 10px;
  width: 500px;
}

.puzzlegif{
	font-size: 50px;
	width: 75px;
	height: 75px;
}

.navbar ul li{
	list-style-type:none;
}

.dhover:hover{
	color: #fff !important;
}
.cikis{
	
}